{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "global-require": "off",
    "max-len": "off"
  }
}
